* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  height: 100px;
  min-height: 30px;
  max-height: 150px;
}

.page {
  padding: 30px 0;
}

.card-content-item {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  & + & {
    margin-left: 15px;
  }
}

// CART
.card-products-count {
  display: flex;
  align-items: center;
}
.cart-action {
  display: flex;
  justify-content: space-between;
}

.products-quantity {
  padding: 0 10px;
}

.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.form__input {
  margin: 0;
}

.form__textarea {
  padding: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  display: flex;
  margin-left: 0 !important;
}
.product__card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product__content {
  flex: 1;
}

.create-page__title {
  text-align: center;
}

.pagination {
  text-align: center;
}

.main-page__controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > * + * {
    margin-left: 20px;
  }
}

.main-page__control {
  max-width: 250px;

  & .input-field {
    width: 100%;
  }

  &--right {
    justify-self: flex-end;
  }
}

.sort__popup {
  position: relative;
}

.sort__dropdown-trigger {
  all: unset;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    border-bottom-color: black;
  }

  &:focus {
    outline: 0;
    background-color: unset;
  }
}

.sort__popup-content {
  right: 0;
  top: 5px;
  left: auto;
  display: block;
  opacity: 1;

  & > li {
    text-align: center;
  }
}

.sort__pointer {
  display: inline-block;
  margin-right: 10px;
}
